DZ003_002/WebServiceDZ/Connected Services/KlijentAplikacija/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="konverzijaEURtoBAM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eur" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="konverzijaEURtoBAMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="konverzijaEURtoBAMResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="konverzijaBAMtoEUR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bam" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="konverzijaBAMtoEURResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="konverzijaBAMtoEURResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="konverzijaEURtoBAMSoapIn">
    <wsdl:part name="parameters" element="tns:konverzijaEURtoBAM" />
  </wsdl:message>
  <wsdl:message name="konverzijaEURtoBAMSoapOut">
    <wsdl:part name="parameters" element="tns:konverzijaEURtoBAMResponse" />
  </wsdl:message>
  <wsdl:message name="konverzijaBAMtoEURSoapIn">
    <wsdl:part name="parameters" element="tns:konverzijaBAMtoEUR" />
  </wsdl:message>
  <wsdl:message name="konverzijaBAMtoEURSoapOut">
    <wsdl:part name="parameters" element="tns:konverzijaBAMtoEURResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="konverzijaEURtoBAM">
      <wsdl:input message="tns:konverzijaEURtoBAMSoapIn" />
      <wsdl:output message="tns:konverzijaEURtoBAMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="konverzijaBAMtoEUR">
      <wsdl:input message="tns:konverzijaBAMtoEURSoapIn" />
      <wsdl:output message="tns:konverzijaBAMtoEURSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="konverzijaEURtoBAM">
      <soap:operation soapAction="http://tempuri.org/konverzijaEURtoBAM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="konverzijaBAMtoEUR">
      <soap:operation soapAction="http://tempuri.org/konverzijaBAMtoEUR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="konverzijaEURtoBAM">
      <soap12:operation soapAction="http://tempuri.org/konverzijaEURtoBAM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="konverzijaBAMtoEUR">
      <soap12:operation soapAction="http://tempuri.org/konverzijaBAMtoEUR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44354/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44354/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>